* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: "Ubuntu", sans-serif;
    background: linear-gradient(90deg, rgb(25, 216, 204) 0%, rgba(33, 246, 233, 1) 100%);
  }
  
  /* Heading styles */
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    line-height: 1.5;
  }
  
  /* Button styling */
  button {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8rem;
    border: 3px solid black;
    padding: 0.5rem 1rem;
    background-color: rgb(245, 158, 158);
    box-shadow: inset -3px -3px 0 0 rgb(252, 124, 124);
    transition: all 0.1s ease-in;
  }
 .delete{
    background-color:rgba(242, 17, 17, 0.89);
    color: white;
  }
  
  /* Navigation button styling */
  nav button {
    margin: 0.5rem 1rem;
  }
  
  /* Main container styling */
  main {
    margin: 4rem auto;
    max-width: 700px;
    min-height: 500px;
    background: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Section styling */
  section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  /* Label styling */
  label {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 0.8em;
  }
  
  /* Input and select styling */
  input, select {
    border: 3px solid black;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0 1rem;
    font-size: 1rem;
  }
  
  /* List styling */
  ul {
    list-style: none;
  }
  
  /* List item styling */
  li {
    margin: 1.5rem 0;
  }
  
  /* Last list item styling */
  li:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
  }
  